.embed {
	display: block;
	margin: 1rem 0;
	padding: 1rem;
	border: 2px solid var(--color-border2);
	border-radius: 1rem;
	text-decoration: none;
	color: inherit;

	.embedTitle {
		font-weight: 500;
		color: var(--color-link);
	}

	.embedDescription {
		font-size: 1rem;
	}

	&:hover .embedTitle {
		text-decoration: underline 2px var(--color-accent);
	}

	p {
		margin: 0.75rem 0;
	}

	p:first-child {
		margin-top: 0;
	}

	p:last-child {
		margin-bottom: 0;
	}
}

.EmbeddedAsset-Video,
.EmbeddedAsset-Image {
	display: block;
	box-sizing: border-box;
	margin: 1em 0;
	border-radius: 30px;
	width: 100%;
	color: #777;
	line-height: 1.5rem;
	background-color: var(--color-bg2);
	text-align: center;
	aspect-ratio: var(--width, auto) / var(--height, auto);
}
