@use 'sass:color';
@use './vars.scss' as vars;

@use '../../static/asap/asap.scss';
@use '../../static/laila/laila.scss';

@use './contentful.scss';

:root {
	--color-theme: #{color.adjust(vars.$COLOR_T3, $lightness: 8%)};
	--color-accent: #f000ec;
	--color-link: #{vars.$COLOR_T3};
	--color-text: #000c;
	--link-decoration: 1.67px underline var(--color-link);
	--link-decoration-hover: 1.67px underline var(--color-accent);
	font-family: vars.$FONT_BODY;
	color: var(--color-text);
	font-size: min(18px, 15.5px + 0.3vw);

	@supports (font-variation-settings: normal) {
		font-family: AsapVariable, sans-serif;
	}
}

body {
	margin: 0;
}

main {
	z-index: 1;
}

body.overlay-open main {
	z-index: 3;
}

a,
.a {
	color: var(--color-link);
	text-decoration: var(--link-decoration);
	text-underline-offset: 0.25rem;
	border: none;
	background-color: transparent;
	cursor: pointer;

	&:hover,
	&:focus {
		text-decoration-color: var(--color-accent);
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: vars.$FONT_HEADING;
	margin: 1em 0;

	@supports (font-variation-settings: normal) {
		font-family: vars.$FONT_HEADING_VARIABLE;
	}
}

h1 {
	font-size: vars.$FONT_SIZE_H1;
	font-weight: 400;
}

h2 {
	font-size: vars.$FONT_SIZE_H2;
	font-weight: 500;
}

h3 {
	font-size: vars.$FONT_SIZE_H3;
	font-weight: 600;
}

h4 {
	font-size: vars.$FONT_SIZE_H4;
	font-weight: 600;
}

h5 {
	font-size: vars.$FONT_SIZE_H5;
	font-weight: 600;
	color: var(--color-theme);
}

h6 {
	font-size: vars.$FONT_SIZE_H6;
	font-weight: 600;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	br + b {
		font-weight: inherit;
		font-size: 75%;
		display: block;
		opacity: 0.85;
	}
}

p,
ul,
ol {
	line-height: 1.5;
	font-size: 1.16667rem;

	.smaller-paragraphs & {
		font-size: 1.1rem;
	}
}

section p {
	line-height: 1.7;
}

blockquote {
	line-height: 1.5;
	font-size: 1.28rem;
	margin: 0;
	padding: 0.2rem 0.5rem;
	border-left: 0.2rem solid #0004;
}

hr {
	border: 2px solid #ccc;
	border-width: 2px 0 0 0;
	margin: 2rem 0;
}

body.show-paragraphs {
	[data-p-mark]::after {
		content: '\00b6';
		position: absolute;
		color: #f56363;
		padding-left: 2px;
	}
}

@keyframes fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
