$FONT_FALLBACK:
	Inter,
	-apple-system,
	BlinkMacSystemFont,
	'Segoe UI',
	Roboto,
	Oxygen,
	Ubuntu,
	Cantarell,
	'Open Sans',
	'Helvetica Neue',
	sans-serif;

$FONT_BODY: Asap, $FONT_FALLBACK;
$FONT_BODY_VARIABLE: AsapVariable, $FONT_FALLBACK;
$FONT_HEADING: Laila, Asap, $FONT_FALLBACK;
$FONT_HEADING_VARIABLE: Laila, AsapVariable, $FONT_FALLBACK;

$FONT_SIZE_H1: min(2.6rem, 2.2rem + 0.5vw);
$FONT_SIZE_H2: min(2.1rem, 1.8rem + 0.4vw);
$FONT_SIZE_H3: min(1.7rem, 1.5rem + 0.3vw);
$FONT_SIZE_H4: min(1.5rem, 1.33rem + 0.25vw);
$FONT_SIZE_H5: min(1.3rem, 1.167rem + 0.2vw);
$FONT_SIZE_H6: min(1.25rem, 1.15rem + 0.167vw);

$COLOR_T0: #f7dfff;
$COLOR_T1: #f3d1ff;
$COLOR_T2: #e9a2ff;
$COLOR_T3: #c853c2;
$COLOR_T4: #8832a8;
$COLOR_T5: #491946;
$COLOR_T6: #5333a7;

$DESKTOP_BP: 66rem;
